<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean class="com.nsv.springframework.loosecoupling.Circle" id="circle" scope="prototype"/>
    <bean class="com.nsv.springframework.loosecoupling.Rectangle" id="rectangle" scope="singleton"/>
    <bean class="com.nsv.springframework.loosecoupling.Triangle" id="triangle"/>

    <!--    Setter Based Dependency Injection-->

    <!--    <bean class="com.nsv.springframework.loosecoupling.ShapeCreator" id="shapeCreator">
            <property name="shape" ref="circle" />
        </bean>-->

    <!--    Constructor Based Dependency Injection-->
    <bean class="com.nsv.springframework.loosecoupling.ShapeCreator" id="shapeCreator">
        <constructor-arg name="shape" ref="circle" />
    </bean>

</beans>